<div fxLayout="row" fxFlex="100">
  <div fxFlex="25" >
    <app-file-list></app-file-list>
  </div>
  <div fxFlex="75">
    <mat-tab-group  style="overflow: scroll">
      <mat-tab label="View">

          <app-file-view file="deps.ts"  ></app-file-view>

      </mat-tab>
      <mat-tab label="Edit">
        <ng-template matTabContent>
          <app-file-edit file="deps.ts"></app-file-edit>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
<ngx-iframe-messenger
  [isParent]="false"
  [router]="router"
  [appName]="'app-directory-browser'"
  [parentOrigin]="'http://localhost:*'"
  (parentToChildPayload)="onPayloadReceived($event)">
</ngx-iframe-messenger>
